

.carousel-inner{
	height: 680px;
}


.carousel-inner > .carousel-item {
   height: 800px;
}

.carousel-inner > .carousel-item > img {
position: absolute;
top: 0;
left: 0;
min-width: 100%;
}


.left{
	text-align: left;
}


