<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<style>
.custom-H {
  padding-bottom :60px;
}
</style>

  {%- include head.html -%}
  
  <body>

    {%- include headerwithoutcarousel.html -%}

{% if page.title == "Photos" -%}
        <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a scrollbehavior href="#photos">Photos</a></li>
                <li class="breadcrumb-item active"><a scrollbehavior href="#photoshop">Photoshop</a></li>
        </ol>
{%- endif -%}
    <div class="py-5">
      <div class="container page-content">
          {{ content }}
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
